<header class="masthead text-center text-white d-flex" style="background-color: #000000;">

    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgba(0,0,0,0.7);">
        <div class="container"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive"><img src="../../../../assets/logo-white.png" width="150">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about">ACERCA DE NOSOTROS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#services">SERVICIOS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#portfolio">REGISTRATE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact"><strong>INICIAR SESION</strong></a></li>
                </ul>
        </div>
        </div>
    </nav>
</header>