<app-navbar-unlogged></app-navbar-unlogged>
<div class="container-black">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Música
                </h2>
            </div>
            <div class="col-md-6">
                <h2>
                    Comedia
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>
                    
                </h2>
            </div>
            <div class="col-md-4">
                test
            </div>
            <div class="col-md-4">
                test
            </div>
        </div>
    </div>
</div>